{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
     .table{
	border: 1px solid #eee;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 20px;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td{
	padding: 5px 10px;
	border: 1px solid #eee;
	text-align: left;
}
.table tbody tr:nth-child(odd){
	background: #fff;
}
.table tbody tr:nth-child(even){
	background: #F7F7F7;
}
</style>

<table class="table">
    <thead>
    <tr>
        <th>№</th>
        <th>Изображение</th>
        <th>Наименование</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Стоимость</th>
    </tr>
    </thead>
    {% for item in cart %}
        {% with product=item.product %}
        <tr>
            <td>
                {{product.id}}
            </td>
            <td>
                {% if product.image %}
                <img src="{{product.image.url}}" style="width: 30px; height:30px">
                {% endif %}
            </td>
            <td>
                {{product.name}}
            </td>
            <td>
                {{product.price}}
            </td>
            <td>
                {{item.quantity}}
            </td>
            <td>
                {{item.total_price}}
            </td>
        </tr>
    {% endwith %}
    {% endfor %}
</table>
<p>Сумма товаров в корзине: {{cart.get_total_price}}</p>
<p>Всего товаров в корзине: {{cart.leng}}</p>
{% endblock content %}