{% extends 'base_secondary.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
{% endblock title %}

{% block content %}

    <style>

        .button {
            background: green;
            max-width: 200px;
            margin: 15px auto;
            padding: 5px 20px 5px 20px;
            border-radius: 10px;
            font-size: 15px;
            box-shadow: 3px -3px 0 0 #E0DFF0;

        }
        .wrapper {
            background-color: whitesmoke;
            list-style-type: none;
            padding: 0;
            border-radius: 3px;
        }
        .form-row {
            display: flex;
            justify-content: flex-end;
            padding: .5em;
        }
        .form-row > label {
            padding: .5em 1em .5em 0;
            flex: 1;
        }
        .form-row > input {
            flex: 2;
        }
        .form-row > input,
        .form-row > button {
            padding: .5em;
        }
        .form-row > button {
            background: gray;
            color: white;
            border: 0;
        }
        .content-text-h4 {
            font-size: 2rem;
        }
    </style>

    {% if cart|length != 0 %}
        <table class="table" style="text-align: center;">
            <thead>
            <tr>
                <th>Товарный номер</th>
                <th>Изображение</th>
                <th>Наименование</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Стоимость</th>
                <th>Действие</th>
            </tr>
            </thead>
            {% for item in cart %}
                {% with product=item.product %}
                    <input type="hidden" value="{{ product.id }}" id="productId">
                    <tr>
                        <td>
                            <!--              forloop.counter статичная переменная стартует с 1, работает в цикле-->
                            {{ forloop.counter }}
                        </td>
                        <td>
                            {% if product.image %}
                                <img src="{{ product.image.url }}" style="width: 30px; height:30px;">
                            {% endif %}
                        </td>
                        <td>
                            {{ product.name }}
                        </td>
                        <td>
                            <!--                |floatformat:0 - фильтр убрать знаки после запятой 0 количество точек после 0-->
                            <span id="productPrice">{{ product.price|floatformat:0 }}</span> руб.
                        </td>
                        <td>
                            <input id="prod_quantity" name="prod_quantity" type="number" min="1" max="100000"
                                   value="{{ item.quantity }}">
                        </td>
                        <td>
                            <span id="itemPrice">{{ item.total_price|floatformat:0 }}</span> руб.
                        </td>
                        <td>
                            <a href="{% url 'remove_product' product.id %}" class="close">
                                <img src="{% static 'image/cart_delete.png' %}" style="width:30px; height:30px;">
                            </a>
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
        </table>
        <div style="width:80%; text-align:justify; margin:0 auto; padding-top:50px">
            <div>Товаров в корзине: <span id="cartLength">{{ cart|length }}</span></div>
            <div>Cумма товаров в корзине: <span id="totalPriceCart">{{ cart.get_total_price|floatformat:0 }}</span> руб.
            </div>

            <div style="padding-top:10px; display: flex; justify-content: space-between;">
                {% if not request.user.id %}
                    <a href="#" class="button-style-order" id="newOrder">Оформить не авторизованный пользователь</a>
                {% else %}
                    <a href="{% url 'orders:new_order' %}" class="button-style-order" id="newOrderUser">Оформить
                        авторизованный
                        пользователь</a>
                {% endif %}
                <a href="{% url 'remove_cart' %}" class="button-style-clear">Очистить корзину</a>
            </div>
        </div>

        <div id="orderModal" class="modal">
            <div class="modal-content">
                <span class="close" id="closeOrder">&times;</span>

                <h4 class="modal_h4">Войдите или купить в один клик</h4>

                <a href="{% url 'users:login' %}" id="login" class="button-style-order">Войти</a>
                <a href="#" id="quickOrderBtn" class="button-style-order">Купить в один клик</a>
            </div>
        </div>

        <div id="orderFormModal" class="modal__order-form content">
            <div class="modal-content__order-form i-am-centered">
                <span id="closeOrderForm" class="close">&times;</span>
                <h4 class="content-text-h4">Заполните информацию для заказа</h4>
                <form action="#" method="post">
                    {% csrf_token %}
                    <br>
                    <ul class="wrapper">
                        <li class="form-row">
                            <label for="name">Имя</label>
                            {{ quick_order_form.name }}
                        </li>
                        <li class="form-row">
                            <label for="last_name">Фамилия</label>
                            {{ quick_order_form.last_name }}
                        </li>
                        <li class="form-row">
                            <label for="email">Электронный адрес</label>
                            {{ quick_order_form.email }}
                        </li>
                        <li class="form-row">
                            <label for="phone">Телефон</label>
                            {{ quick_order_form.phone }}
                        </li>
                        <li class="form-row">
                            <label for="payment">Способ оплаты</label>
                            {{ quick_order_form.payment }}
                        </li>
                        <li class="form-row">
                            <label for="delivery">Способ доставки</label>
                            {{ quick_order_form.delivery }}
                        </li>
                    </ul>
                    <input type="button" class="button" id="createQuickOrderBtn" value="Оформить">
                </form>
            </div>
        </div>
    {% else %}
        <div style="display: flex;
            justify-content: center;
            font-size: 30px;
            padding-top: 20px;
            padding-bottom: 40px;">
            Корзина пуста!
        </div>

    {% endif %}

{% endblock content %}