{% extends 'base_secondary.html' %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    .form-label  {
    min-width: 150px;
    vertical-align: top;
	color: #000;
	font-size: 25px;
	font-family: Yandex Sans Display Light;
	padding: 5px;
	margin: 5px;
    }
    .content {
	padding: 40px 20px 20px 40px;
	width: 100%;
	box-sizing: border-box;
}

.content-text h1 {
    font-size: 32px;

}
    .button {
	background: green;
	max-width: 200px;
	margin: 15px auto;
	padding: 5px 20px 5px 20px;
	border-radius: 10px;
	font-size: 15px;
	box-shadow: 3px -3px 0 0 #E0DFF0;

}

    .button-danger {
    text-decoration: none;
    background: yellow;
	max-width: 200px;
	margin: 15px auto;
	padding: 5px 20px 5px 20px;
	border: 2px solid #000;
	border-radius: 10px;
	font-size: 15px;
	color: black;
	box-shadow: 3px -3px 0 0 #E0DFF0;

    }
    .password-change {
    text-decoration: none;
    color: blue;
    font-size: 1rem;
    }
    #id_old_password {
        font-size: 1.5rem;
        margin-left: 166px;
    }
    #id_new_password {
        font-size: 1.5rem;
        margin-left: 175px;
    }
    #id_confirm_password {
        font-size: 1.5rem;
    }

</style>

<div class="content">
   <h1 class="content-text">Смена пароля</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_error }}
        <div class="form-label">
            {{ form.old_password | as_crispy_field}}
        </div>
        <div class="form-label">
            {{ form.new_password | as_crispy_field}}
        </div>

        <div class="form-label">
            {{ form.confirm_password | as_crispy_field}}
        </div>

        <button type="submit" class="button">Сменить пароль</button>
        <a href="{% url 'users:profile' %}" class="button-danger">Отмена</a>
    </form>
    <p>* поля обязательные к заполненью</p>
</div>

{% endblock content %}