{% extends "base_secondary.html" %}
{% load i18n %}

{% block content %}

    <style>
    .h1-password-reset-done {
        margin: 40px;
        font-size: 2rem;
    }
    .p-password-reset-done {
        font-size: 1rem;
        margin: 20px;
    }
    </style>

<h1 class="h1-password-reset-done">Сброс пароля</h1>

<p class="p-password-reset-done">{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

<p class="p-password-reset-done">{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>

{% endblock %}
