{% extends 'base_secondary.html' %}

{% block content %}
    <style>
        .btn-form-reset {
            display: inline-block;
            box-sizing: border-box;
            padding: 0 16px;
            margin: 20px 15px 15px 0;
            outline: none;
            border: none;
            border-radius: 4px;
            height: 30px;
            line-height: 30px;
            font-size: 12.5px;
            font-weight: normal;
            text-decoration: none;
            vertical-align: top;
            color: #fff;
            background-color: #5181b8;
            cursor: pointer;
            user-select: none;
            appearance: none;
            touch-action: manipulation;
            overflow: hidden;
        }

        .btn-form-reset:focus-visible {
            box-shadow: 0 0 0 3px lightskyblue;
        }

        .btn-form-reset:hover {
            opacity: 0.88;
        }

        .btn-form-reset:active {
            line-height: 32px;
        }

        .btn-form-reset:disabled {
            pointer-events: none;
            opacity: 0.65;
        }

        .h1-form-reset {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .form-reset {
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-left: 50px;
        }

        .p-form-reset {
            font-size: 1rem;
        }
    </style>

    <div class="form-reset">
        <h1 class="h1-form-reset">Восстановление пароля</h1>
        <form method="post">
            {% csrf_token %}
            {% for f in form %}
                <p class="p-form-reset"><label class="form-label"
                                               for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}

            <p>
                <button class="btn-form-reset" type="submit">Сбросить по E-mail</button>
            </p>
        </form>
    </div>
{% endblock %}
