{% extends 'base_secondary.html' %}

{% block content %}

    <style>
        .btn-form-label-complete {
            display: inline-block;
            box-sizing: border-box;
            padding: 0 16px;
            margin: 20px 15px 15px 0;
            outline: none;
            border: none;
            border-radius: 4px;
            height: 30px;
            line-height: 30px;
            font-size: 12.5px;
            font-weight: normal;
            text-decoration: none;
            vertical-align: top;
            color: #fff;
            background-color: #5181b8;
            cursor: pointer;
            user-select: none;
            appearance: none;
            touch-action: manipulation;
            overflow: hidden;
        }

        .btn-form-label-complete:focus-visible {
            box-shadow: 0 0 0 3px lightskyblue;
        }

        .btn-form-label-complete:hover {
            opacity: 0.88;
        }

        .btn-form-label-complete:active {
            line-height: 32px;
        }

        .btn-form-label-complete:disabled {
            pointer-events: none;
            opacity: 0.65;
        }

        .h1-complete {
            margin: 20px 0 20px 50px;

        }

        .form-complete {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-left: 50px;
        }

        .form-label-complete {
            font-size: 1.2rem;
        }

        #id_new_password1 {
            margin-left: 149px;
            font-size: 1.2rem;
        }

        #id_new_password2 {
            font-size: 1.2rem;
            margin-top: 5px;
        }
    </style>


<h1 class="h1-complete">Новый пароль</h1>
<div class="form-complete">
<form method="post">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p class="form-label-complete"><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <p><button class="btn-form-label-complete" type="submit">Сохранить</button></p>
</form>
</div>
{% endblock %}
