<!DOCTYPE html>
{% load static %}
{% load custom_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Title</title>
    {% endblock title %}
    <link rel="stylesheet" href="{% static 'css/styles_secondary.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
     <link rel="icon" href="{% static 'favicon/approval-icon.ico' %}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
{% block header %}
    <header>
        <div class="logo">
                <span class="windsong-medium">
                    <p>My_Shop</p>
                </span>
        </div>
        <div class="menu-nav">
            <ul>
                <li class="first"><a href="{% url 'products' %}" target="_self">Главная</a></li>
                <li><a href="#">Категории товаров</a>
                    <ul>
                        {% for category in categories %}
                            <li><a href="{% url 'products_by_category' category.slug %}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="#">Аккаунт</a>
                    {% if not user.is_authenticated %}
                        <ul>
                            <li><a href="{% url 'users:login' %}">Войти</a></li>
                            <li><a href="{% url 'users:register' %}">Регистрация</a></li>
                        </ul>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <ul>
                            <li><a href="{% url 'users:profile_list' %}">Пользователь: <i>{{ user.username }}</i></a>
                            </li>
                            <li><a href="{% url 'users:profile' %}">Редактировать профиль:
                                <i>{{ user.username }}</i></a>
                            </li>
                            <li><a href="{% url 'users:logout' %}">Выйти</a></li>

                        </ul>
                    {% endif %}
                </li>
                <li><a href="{% url 'about' %}">О Сайте</a></li>
                <li><a href="{% url 'contact' %}">Контакты</a></li>
                {% if cart|length != 0 %}
                    <li class="first"><a href="{% url 'cart_detail' %}" target="_self">Корзина (<span
                            id="cartLengthHeader">{{ cart|length }}</span>)</a></li>
                {% else %}
                    <li class="first"><a href="{% url 'cart_detail' %}" target="_self">Корзина</a></li>
                {% endif %}
                <li class="first"><a href="{% url 'orders:orders' %}" target="_self">Заказы</a></li>
                {% if user.is_authenticated %}
                    <li class="first"><a href="{% url 'users:profile_list' %}">Вы авторизованы как:
                        <i>{{ user.username }}</i></a></li>
                {% endif %}
            </ul>

            <div class="search">
                <form action="{% url 'product_search' %}" method="get" style="margin-top:10px; margin-left:40px">
                    <input type="search" name="query" placeholder="Search products...">
                    <button type="submit">Поиск</button>
                </form>
            </div>
        </div>
    </header>
{% endblock header %}

{% block main %}
{% endblock main %}

{% block content %}
{% endblock content %}

{% if page_obj.has_other_pages %}
    <nav class="list-pages">
        <ul>
            {% if page_obj.has_previous %}
                <li class="page-num">
                    <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                </li>
            {% endif %}

            {% for p in paginator.page_range %}
                {% if page_obj.number == p %}
                    <li class="page-num page-num-selected">{{ p }}</li>
                {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                    <li class="page-num">
                        <a href="?page={{ p }}">{{ p }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-num">
                    <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endif %}

{% block footer %}
    <footer>
        <p class="windsong-medium">&copy; 2024 Andrey Bobrov.
            All rights reserved.
        </p>
    </footer>
{% endblock footer %}

<script src="{% static 'js/cart_detail.js' %}"></script>
<script src="{% static 'js/login.js' %}"></script>
</body>
</html>