{% extends 'base_admin.html' %}

{% block title %}
<title>Панель администратора</title>
{% endblock title %}

{% block content %}

{{total}}
<div class="action-categories">
<div class="actions">
    <div class="actions">
        <a href="{% url 'category_add' %}">Добавить категорию</a>
    </div>
    <div class="actions">
        <a href="{% url 'categories_list' %}">Посмотреть категорию</a>
    </div>
    </div>
    <div class="action-product">
    <div class="actions">
        <a href="{% url 'products_add' %}">Добавить товар</a>
    </div>
    <div class="actions">
        <a href="{% url 'products' %}">Посмотреть все товары</a>
    </div>
    </div>
</div>


{% endblock content %}