{% extends 'base_admin.html' %}

{% block title %}
<title>Панель администратора</title>
{% endblock title %}

{% block content %}
<style>
    .action-categories {
        margin: 15px;
        padding: 20px;
    }
    .actions {
        margin-top: 5px;
    }
    a {
        text-decoration: none;
    }
</style>


<div class="action-categories">
    <div class="actions">
        <h3><a href="{% url 'categories' %}">1. Посмотреть все категории</a></h3>
    </div>
    <div class="actions">
        <h3><a href="{% url 'category_add' %}">2. Добавить категорию</a></h3>
    </div>

    <div class="actions">
        <h3><a href="{% url 'products_add' %}">3. Добавить товар</a></h3>
    </div>
    <div class="actions">
        <h3><a href="{% url 'products_admin' %}">4. Посмотреть все товары</a></h3>
    </div>
    <div class="actions">
        <h3><a href="{% url 'orders:list_orders_total' %}">5. Посмотреть все заказы</a></h3>
    </div>
</div>


{% endblock content %}