{% extends 'base_secondary.html' %}
{% load static %}

{% block title %}
<title>{{ title }}</title>
{% endblock title %}

{% block content %}
<style>
    body {
      background: url('/static/image/python_image.png');
      background-size: cover;
    }
    .contact--div {
       margin: 20px 0 0 20px;
          }
     .content--about {
       color: #E0FFFF;
       font-style: italic;
       font-weight: medium;
      }
</style>

<div class="contact--div">
    <h1 class="content--about">Это страница контактов</h1>
    <h3 class="content--about">Имя: {{name}}</h3>
    <h3 class="content--about">Фамилия: {{lastname}}</h3>
    <h3 class="content--about">Электронная почта: {{email}}</h3>
</div>
{% endblock content %}
