{% extends 'base_admin.html' %}


{% block title %}
    <title>{{ product.name }}</title>
{% endblock title %}

{% block content %}
    <form action="" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }}
        {% if product.image %}
            <a href="#" class="card__image">
                <img height="200px" width="auto"
                        src="{{ product.image.url }}"
                        alt="Картинка"
                />
            </a>
        {% endif %}
        <a href="{% url 'delete_product' product.id %}" class="btn btn-secondary">Удалить</a>
        <button type="submit">Редактировать</button>
    </form>
{% endblock content %}


