{% extends 'base_main.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}
<title>Список товаров</title>
{% endblock title %}

{% block content %}
<style>
    .table-home {
        width: max-content;
        margin: 20px 0 20px 5px;
        border-bottom: 2px solid maroon;
        border-top: 2px solid maroon;
    }

    .filters {
        padding: 20px;
    }

    .table-home a {
        text-decoration: none;
        color: black;
        font-size: 1rem;
    }

    .table-li {
        margin: 5px;
    }
    .image-context {
        width: 200px;
        height: auto;
        margin-left: 18%;
    }

    .container-home {
        width: 50px;
    }
    .image_small_down {
        margin: 5px;
        height: 60px;
        width: auto;
    }

    .image_down_zoom {
        transition: transform .2s; /* Animation */

    }
    .image_down_zoom:hover {
        transform: scale(5.5); /* (150% зум - Примечание: если масштаб слишком велик, он будет выходить за пределы видового экрана) */
        z-index:5;
}
</style>

<div style="display: flex; ">
    <div class="filters">
        <h2>Категории товаров</h2>
        <table class="table-home">
            <tbody>
            <tr>
                <td>
                    {% for category in categories %}
                    <li class="table-li"><a
                            href="{% url 'products_by_category' category.slug %}">{{ category.name }}</a></li>
                    {% endfor %}
                </td>
            </tr>
            </tbody>

        </table>
        <a class="a-context" href="https://mc-promo.ru/" target="_blank">
            <img class="image-context" src="{% static 'image/context.jpg' %}">
        </a>
        <a class="a-context" href="https://www.nozhikov.ru/" target="_blank">
            <img class="image-context" src="{% static 'image/13.png' %}">
        </a>
        <a class="a-context" href="https://lavka.yandex.ru/category/snacks/kartofelnye_chipsy" target="_blank">
            <img class="image-context" src="{% static 'image/23.png' %}">
        </a>
    </div>

    <div class="container">
        <section>
            <div class="category">
                {% for product in products %}
                <div class="product">
                    <h3 style="margin-bottom: 15px; text-decoration: underline;" id="fruits">Категория: <i
                            style="color: green;">{{ product.category }}</i></h3>
                    <div class="image-placeholder image-placeholder5">
                        {% if product.image %}
                        <a href="#" class="card__image">
                            <img
                                    src="{{ product.image.url }}"
                                    alt="Картинка"/>
                        </a>
                        {% endif %}
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: center;">
                      {% for image in product.images.all %}
                    <div class="image_down_zoom">
                        <img class="image_small_down"
                             src="{{ image.image.url }}"
                             alt="Картинка"/>
                    </div>
                    {% endfor %}
                </div>
                    <h4>Название товара: {{ product.name }}</h4>
                    <p class="truncate">Описание: {{ product.description }}</p>
                    <p class="price">Цена: {{ product.price }}</p>
                    <p>Дата публикации: {{ product.created }}</p>
                    {% if product.available == True %}
                    <p>Доступность товара для заказа: <b style="color: green">В наличие</b>
                    <p>
                        {% else %}
                    <p>Доступность товара для заказа: <b style="color: red;">Нет наличие</b>
                    <p>
                        {% endif %}
                    <div class="productbtns">
                        <form class="form_style" action="{% url 'product_detail' product.slug %}" method="get"
                              target="_self">
                            <button type="submit">Подробнее</button>
                        </form>
                        {% if product.id|string_value in cart.cart %}
                        <form class="form_style" action="{% url 'add_to_cart' product.slug %}" method="get"
                              target="_self">
                            <button type="submit">
                                Добавлено {{ cart|count_items:product.id|string_value }}
                            </button>
                        </form>
                        {% else %}
                        {% if product.available == True %}
                        <form class="form_style" action="{% url 'add_to_cart' product.slug %}"
                              method="get"
                              target="_self">
                            <button type="submit">В корзину</button>
                        </form>
                        {% else %}
                        <button style="opacity: 0.5;" type="submit">В корзину</button>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
</div>
<!--<div>-->
<!--    {% for image in images %}-->
<!--    <img-->
<!--            src="{{ image.image.url }}"-->
<!--            alt="Картинка"/>-->
<!--    {% endfor %}-->
<!--</div>-->
{% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul>
        {% if page_obj.has_previous %}
        <li class="page-num">
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        </li>
        {% endif %}

        {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
        <li class="page-num page-num-selected">{{ p }}</li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-num">
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock content %}

