{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Список товаров</title>
{% endblock title %}

{% block content %}

{% for product in products %}
<p>Название: {{product.name}}</p>
{% if product.image %}
<p>{{product.image.url}}</p>
<img src="{{product.image.url}}" width="200px" height="150px" alt="Картинка">


{% endif%}
<p>Цена: {{product.price}}</p>
<p>Описание: {{product.description}}</p>
<p>Категория: {{product.category}}</p>
<p>Дата публикации: {{product.created}}</p>
<hr>

{% endfor %}

{% endblock content %}