{% extends 'base_main.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
<style>
    .table {
	width: 25%;
	margin: 20px 0 20px 5px;
    border-bottom: 2px solid maroon;
	}

.table th td{
	padding: 5px;
}

   .btn-2 {
	display: inline-block;
	box-sizing: border-box;
	padding: 0 16px;
	margin: 0 15px 15px 15px;
	outline: none;
	border: none;
	border-radius: 4px;
	height: 30px;
	line-height: 30px;
	font-size: 12.5px;
	font-weight: normal;
	text-decoration: none;
	vertical-align: top;
	color: #fff;
	background-color: #5181b8;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
	overflow: hidden;
}
.btn-2:focus-visible {
	box-shadow: 0 0 0 3px lightskyblue;
}
.btn-2:hover {
	opacity: 0.88;
}
.btn-2:active {
	line-height: 32px;
}
.btn-2:disabled {
	pointer-events: none;
	opacity: 0.65;
}

</style>
<div style="display: flex; ">
    <div class="filters">
        <form method="get">
            <table class="table">
                <tbody>
                <tr>
                    <td>Наименование</td>
                    <td>{{ filterset.form.name }}</td>
                </tr>
                <tr>
                    <td>Минимальная цена</td>
                    <td>{{ filterset.form.price_min }}</td>
                </tr>
                <tr>
                    <td>Максимальная цена</td>
                    <td>{{ filterset.form.price_max }}</td>
                </tr>
                <tr>
                    <td>В наличии</td>
                    <td>{{ filterset.form.available }}</td>
                </tr>
                </tbody>
            </table>
            <button class="btn-2" type="submit">Фильтровать</button>
        </form>
    </div>

    <div class="container">
        <section>
            <div class="category">
                {% for product in products %}
                <div class="product">
                    <h3 style="margin-bottom: 10px;" id="fruits">Категория: <i
                            style="color: green;">{{product.category}}</i></h3>
                    <div class="image-placeholder image-placeholder5">
                        {% if product.image %}
                        <a href="{% url 'edit_product' product.id %}" class="card__image">
                            <img
                                    src="{{ product.image.url }}"
                                    alt="Картинка"/>
                        </a>
                        {% endif %}
                    </div>
                    <h4>Название товара: {{product.name}}</h4>
                    <p>Описание: {{ product.description }}</p>
                    <p class="price">Цена: {{product.price}}</p>
                    <p>Дата публикации: {{product.created}}</p>
                    {% if product.available == True %}
                    <p>Доступность товара для заказа: <b style="color: green">В наличие</b>
                    <p>
                        {% else %}
                    <p>Доступность товара для заказа: <b style="color: red;">Нет наличие</b>
                    <p>
                        {% endif %}
                     <div class="productbtns">
                     <form class="form_style" action="{% url 'product_detail' product.slug %}" method="get"
                                  target="_self">
                                <button type="submit">Подробнее</button>
                            </form>
                            {% if product.id|string_value in cart.cart %}
                                <form class="form_style" action="{% url 'add_to_cart' product.slug %}" method="get"
                                      target="_self">
                                    <button type="submit">
                                        Добавлено {{ cart|count_items:product.id|string_value }}</button>
                                </form>
                            {% else %}

                                <form class="form_style" action="{% url 'add_to_cart' product.slug %}" method="get"
                                      target="_self">
                                    <button type="submit">В корзину</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                </div>
        </section>
    </div>
</div>
{% endblock content %}