{% extends 'base_main.html' %}
{% load static %}


{% block content %}
<div class="container">
    <section>
        <h2 id="fruits">Товары выбранной категории: {{product.category}}</h2>
        <div class="category">
            {% for product in products %}
            <div class="product">
                <div class="image-placeholder image-placeholder5">
                    {% if product.image %}
                    <a href="{% url 'edit_product' product.id %}" class="card__image">
                        <img
                                src="{{ product.image.url }}"
                                alt="Картинка"/>
                    </a>
                    {% endif %}
                </div>
                <h4>Название товара: {{product.name}}</h4>
                <p>Описание: {{ product.description }}</p>
                <p class="price">Цена: {{product.price}}</p>
                <p>Дата публикации: {{product.created}}</p>
                <div class="qyt">
                    <label for="quantity_fruit1">
                        Количество:
                    </label>
                    <input type="number"
                           id="quantity_fruit1"
                           value="1">
                </div>
                <div class="productbtns">
                    <form class="form_style" action="{% url 'product_detail' product.slug %}" method="get" target="_self">
                        <button type="submit">Подробнее</button>
                    </form>
                    <form class="form_style" action="#" method="get" target="_self">
                        <button type="submit">В корзину</button>
                    </form>
                </div>

            </div>
            {% endfor %}
        </div>
    </section>
</div>

{% endblock content %}